{{#each orgs}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title setup-heading">{{@key}}</h3>
        </div>
        <div class="panel-body">
            <ul class="setup-list">
                {{#each this}}
                    <li>
                        <label><input type="checkbox" value="{{this}}" /> {{this}}</label>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/each}}

<div class="text-center">
    <a class="btn btn-lg btn-primary" href="#" id="webhookButton">Create Web Hooks</a>
</div>